body {
	font-family: 'Montserrat', sans-serif;
	margin: auto;
}

.wrap {
	padding-top: 5%;
	padding-bottom: 7%;
	padding-right: 15%;
	padding-left: 15%;
	background-image: url("../images/hero_Image.png");
	background-size: cover;
	color: #fff;
}

.title {
	float: left;
}

.title h3 {
	letter-spacing: 5;
	transition: all 0.8s;

}

.nav {
	float: right;
	margin-top: 2.5%;
}

.nav ul {
	padding-left: 0;
}

.nav ul li {
	display: inline;
	margin-right: 20px;
}

.nav ul li a {
	color: #fff;
	text-decoration: none;
	transition: all 0.8s;
}

.nav ul li a:hover {
	font-size: 20px;
	margin: 10px;
}

.text h1 {
	font-size: 3em;
}

.text p {
	font-size: 1.3em;
	font-weight: normal;
	line-height: 0.5em;
}

.text {
	margin-top: 20%;
}

.form {
	margin-top: 2%;
}

.email {
	height: auto%;
	width: 20%;
	padding: 10px;
	border-radius: 3px;
	border-style: none;
	box-shadow: 1px 1px 1px #8C8372;
	margin-right: 1%;
}

.button {
	height: 6%;
	width: 15%;
	border-radius: 3px;
	border-style: none;
	box-shadow: 1px 1px 1px #8C8372;
	background-color: #FF6856;
	color: #fff;
	transition: all 0.3s;
}

.button:hover {
	box-shadow: 2px 2px 2px 2px #8C8372;
}


.stories {
	padding-top: 5%;
	padding-bottom: 5%;
}

.title2{
	width: auto;
	margin-left: 10%;
	margin-bottom: 3%;
	color: #302D23;
}

.title2 h2 {
	font-weight: bolder;
	font-size: 2em;
}

.title2 hr {
	width: 50px;
	height: 1px;
	background-color: #000;
	margin-left: 0;
}

.tabela {
	margin-left: 9%;
	font-size: 1.1em;
}

.number {
	display: inline-block;
	width: 30%;
	margin-left: 1%;
}

.imagem {
	max-width: 100%;
	height: auto;
}

.artigo {
	max-width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 2%;
	padding-right: 3%;
	color: #999;
}

.artigo a {
	color: #000;
	text-decoration: none;
}

.artigo a:hover {	
	color: #FF6856; 	
}


.quote {
	padding-top: 6%;
	padding-bottom: 6%;
	background-image: url("../images/content_2_bg.png");
	background-size: cover;
	color: #fff;
    text-align: center;
    line-height: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
}


.contact {
    padding-top: 3%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.contact h3 {
    text-align: center;
    color: #5C5C5C;
    padding-bottom: 5%;
    font-size: 1.5em;
    font-weight: bold;
}

.endtelefone hr {
	width: 0;
}

.formulario {
    width: 35%;
    float: left;
    color: #5C5C5C;
}

.formulario button {
    width: 45%;
}

.name {
    width: 43%;
    height: 6%;
    border-radius: 3px;
	border-style: none;
	margin-right: 2%;
	background-color: #F8F5FF;
	font-size: 0.9em;
	padding-left: 3%;
	padding-right: 3%;
}

#name {
	margin-right: 2%;
}

.message {
    border-radius: 3px;
	border-style: none;
    width: 90%;
    height: 15%;
    margin-top: 3%;
    margin-bottom: 4%;
    background-color: #F8F5FF;
    font-size: 0.9em;
    padding-left: 3%;
}

.endtelefone {
    width: 35%;
    float: right;
    text-align: right;
}

.subtitulo {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 7%;
	margin-bottom: 7%;
	color: #5C5C5C;
}

.info {
	line-height: 2px;
	color: #6E6E6E;
}

footer {
	background-color: black;
	color: #fff;
    text-align: center;
    width: 100%;
	display: inline-block;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 0.8em;
}

.rodape1 {
	float: left;
	padding-left: 14%;
}

.rodape2 {
	float: right;
	padding-right: 14%;
}


@media screen and (max-width: 1040px){
		.button {
			width: 25%;
			height: auto;
			padding: 10px;
		}

		.email {
			width: 30%;
		}

		.nav {
			float: left;
		}

		.number {
			width: 30%;
		}

		.quote {
			padding: 5%;
		}

		.formulario {
			width: 50%;
			font-size: 0.8em;
		}	

		.endtelefone {
			width: 45%;
			font-size: 0.9em

		}

		.name {
			width: 47.5%;
		}

		.message {
			width: 100%;
		}

		.rodape1 {
			width: 50%;
			font-size: 0.7em;

		}

		.rodape2 {
			width: 50%;
			font-size: 0.7em;
		}

		.formulario h4 {
			width: 45%;
			font-size: 1.5em;
		}
}

@media screen and (max-width: 600px){
		.title h3 {
			font-size: 0;
		}

		.text h1 {
			font-size: 2em;
		}

		.text p {
			font-size: 1em;
			display: inline;
			line-height: 1.5em;
		}

		.email {
			width: 70%;
			display: block;
			margin-bottom: 3%;
			margin-top: 2%;
			font-size: 0.9em;
		}

		.button {
			width: 50%;
			font-size: 0.9em;
		}

		.number{
			width: 70%;
			display: block;
			margin-top: 5%;
		}

		.quote {
			line-height: 1em;
		}

		.formulario {
			display: block;
			width: 100%;
			font-size: 1em;
		}	

		.name {
			width: 100%;
		}

		#name {
			margin-bottom: 3%;
		}

		.message {
			width: 100%;
		}

		.endtelefone {
			display: block;
			float: left;
			text-align: left;
			width: 100%;
			font-size: 1em;

		}

		footer {
			font-size: 0.7em;
		}
		
		.rodape1 {
			width: 100%;
		}

		.rodape2 {
			width: 80%;
			
		}

		.formulario h4 {
			width: 100%;
			font-size: 1.2em;
		}

		.endtelefone hr {
			width: 100%;
			height: 3px;
			text-align: center;
			background-color: #5C5C5C;

		}
}